@import "../valo/valo";
@import "common";
@import "views/login";
@import "views/gamblerview";
@import "views/schedule";
@import "views/sales";
@import "views/transactions";
@import "views/reports";

$v-included-components: remove($v-included-components, accordion);
$v-included-components: remove($v-included-components, colorpicker);
$v-included-components: remove($v-included-components, grid);
$v-included-components: remove($v-included-components, popupview);
$v-included-components: remove($v-included-components, progressbar);
$v-included-components: remove($v-included-components, slider);
$v-included-components: remove($v-included-components, splitpanel);
$v-included-components: remove($v-included-components, tree);
$v-included-components: remove($v-included-components, treetable);
$v-included-components: remove($v-included-components, twincolselect);

$view-padding: round($v-unit-size / 1.5) !default;

$valo-menu-background-color: #414B56;

@mixin gambler {
  @include valo;
  @include gambler-common;
  @include gambler-login-view;
  @include gambler-gambler-view;
  @include gambler-schedule-view;
  @include gambler-sales-view;
  @include gambler-transactions-view;
  @include gambler-reports-view;
}
